@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
::-webkit-scrollbar {
  cursor: pointer;
  width: 3px;
  height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #494949;
}
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ae956d;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6a354;
}

.react-stacked-center-carousel-slide-1 {
  filter: blur(10px);
}
.react-stacked-center-carousel-slide-2 {
  filter: blur(10px);
}
.react-stacked-center-carousel-slide-3 {
  filter: blur(10px);
}

.react-stacked-center-carousel-slide--1 {
  filter: blur(10px);
}
.react-stacked-center-carousel-slide--2 {
  filter: blur(10px);
}
.react-stacked-center-carousel-slide--3 {
  filter: blur(10px);
}

.rti--container {
  border-radius: 0px;
  outline: none;
  background: transparent;
  border-color: #70584688;
}
.rti--container:focus-within {
  border-color: #70584688;
  box-shadow: none;
}
.rti--container:focus-within:hover {
  border-color: #d6a354;
}

.Toastify__toast-icon svg {
  fill: #6b5430;
}

/* components */
body {
  @apply text-gray-600 bg-white dark:text-gray-400  dark:bg-dark-main transition-colors duration-300;
}
button {
  @apply outline-none;
}
input,
textarea {
  @apply outline-none  placeholder:text-gray-400/40;
}
h1 {
  @apply text-5xl lg:text-6xl font-bold;
}
h2 {
  @apply text-3xl lg:text-5xl font-bold;
}
.m-text-overflow {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}
.m-transition-color {
  @apply transition-colors duration-300;
}
.m-font-open {
  font-family: "Open Sans";
}
.m-font-number {
  font-family: "Playfair Display";
}
.m-section {
  @apply py-24 lg:py-36 px-4;
}
.m-input {
  @apply outline-none w-full bg-transparent border-b border-gold-black/40 focus:border-gold-main m-transition-color px-3 py-2;
}
.m-input-icon {
  @apply outline-none w-full bg-transparent border border-gold-black/40 focus:border-gold-main m-transition-color pr-3 pl-10 py-2;
}
/* animations */
.a-ping-slow {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.a-fade-in {
  animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
